*.ipynb_checkpoints
*__pycache__
*.DS_Store
notes.txt
book/chapters/io/*
book/chapters/references/_stocks.json
book/chapters/chapter01.ipynb
book/chapters/chapter02.ipynb
book/chapters/chapter03.ipynb
book/chapters/chapter04.ipynb
book/chapters/chapter05.ipynb
book/chapters/chapter06.ipynb
book/chapters/chapter07.ipynb
book/chapters/chapter08.ipynb
book/chapters/chapter09.ipynb
book/chapters/chapter10.ipynb
book/chapters/chapter11.ipynb
book/chapters/chapter12.ipynb
book/chapters/chapter13.ipynb
book/chapters/chapter14.ipynb
book/chapters/chapter15.ipynb
book/chapters/chapter16.ipynb
book/chapters/chapter17.ipynb
book/scripts/.ipynb_checkpoints

*.DS_Store
*.ipynb_checkpoints/
*__pycache__/
*.env
*tokens.json
*tracker.json

brokerage/.env