.ipynb_checkpoints
book_chapters/.ipynb_checkpoints
functions/.ipynb_checkpoints
functions/__pycache__
ext_research/bayesian_stats/.ipynb_checkpoints
ext_research/sentiment_analysis/.ipynb_checkpoints
